<template name="header">
    <header>
        <h1 class="center-align">AppWall</h1> {{> loginButtons}}
    </header>
</template>

<template name="form">
    {{#if currentUser}}
    <form class="add-new-post">
        <input type="file" />
        <label>Name</label>
        <input type="text" />
        <label>Message</label>
        <input type="text" />
        <button class="btn waves-effect waves-light">Send
            <i class="material-icons right">send</i>
        </button>
    </form>
    {{/if}}
</template>

<template name="posts">
    <div class="grid">
        <div class="grid-sizer"></div>
        {{#each postList}}
        <div class="grid-item">
            <div class="row">
                <div class="col s12 m7">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{imageIs this.imageId}}" />
                        </div>
                        <div class="card-content">
                            <p>{{updateMasonry}} {{this.name}} {{this.Message}} {{this.createdAt}}</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        {{/each}}
    </div>



</template>